@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Nunito', sans-serif;
    height: 100%;
}

.status-block {
     @apply border border-gray-300;
}

.status-default {
    border-left-width: 1rem;
    border-left-color: #15803D;
}

.status-low {
    border-left-width: 1rem;
    border-left-color: #FDE047;
}

.status-medium {
    border-left-width: 1rem;
    border-left-color: #EF4444;
}

.status-high {
    border-left-width: 1rem;
    border-left-color: #F97316;
}

/*CSS Help Layout Grid*/
.grid-help {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
}

.page-header {
    background: url("../img/header-bg.jpg") no-repeat;
    background-size: cover;
}

.page-header .overlay {
    background: rgba(0, 0, 0, 0.3);
}


.page-content {
    grid-area: main
}

.page-footer {
    grid-area: footer
}