@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Nunito', sans-serif;
    height: 100%;
}

.status-block {
     @apply border border-gray-300;
}

.status-default {
    border-left-width: theme('borderWidth.8');
    border-left-color: theme('colors.green.700');
}

.status-low {
    border-left-width: theme('borderWidth.8');
    border-left-color: theme('colors.yellow.500');
}

.status-medium {
    border-left-width: theme('borderWidth.8');
    border-left-color: theme('colors.orange.500');
}

.status-high {
    border-left-width: theme('borderWidth.8');
    border-left-color: theme('colors.red.500');
}

/*CSS Help Layout Grid*/
.grid-help {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
}

.page-header {
    background: url("../img/header-bg.jpg") no-repeat;
    background-size: cover;
}

.page-header .overlay {
    background: rgba(0, 0, 0, 0.3);
}


.page-content {
    grid-area: main
}

.page-footer {
    grid-area: footer
}