
/*
//
// Auth Area Styles
// --------------------------------------------------
*/
.grid {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

.grid-login {
  grid-template-areas: "header" "content" "footer";
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}