/*
//
// Grid System
// --------------------------------------------------
*/

.grid-col-container-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@for $i from 1 through 12 {
  .grid-col-#{$i} {
    grid-column: span $i;
  }
}

@media screen and (max-width: 992px) {
  @for $i from 1 through 6 {
    .md-grid-col-#{$i} {
      grid-column: span $i;
    }
  }
}

@media screen and (max-width: 768px) {
  @for $i from 1 through 12 {
    .sm-grid-col-#{$i} {
      grid-column: span ($i*2)/2;
    }
  }
}


/*
//
// Aread specific grid
// --------------------------------------------------
*/
.app-grid {
  grid-template-rows: auto auto 1fr auto;
}

@media screen and (max-width: 768px) {
  .page-sidebar {
    order: 1;
  }

  .page-content {
    order:2;
  }
}