/*
//
// Page Styles
// --------------------------------------------------
*/

.page-sidebar {
  a {
    @apply .block .p-4 .text-sm .no-underline .font-bold .text-blue-darker;
    font-family: 'Roboto', sans-serif;
  }

  a.router-link-exact-active {
    @apply .bg-blue-dark .text-white;
    cursor: default;

    &:hover {
      @apply .bg-blue-dark .text-white;
    }
  }

  a:hover {
    background: #3490dc;
    color: white;
  }

  aside {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

/*
//
// Mobile Styles
// --------------------------------------------------
*/
.mobile-btn {
  @apply .block .p-4 .text-sm .no-underline .text-grey-darker .font-bold .bg-blue-lightest;

  &:hover {
    background: #3490dc;
    color: white;
  }
}

/*
//
// Animations
// --------------------------------------------------
*/
.fade-enter-active, .fade-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity;
  transition-timing-function: ease;
  overflow: hidden;
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */
{
  opacity: 0
}